.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px 0 20px 30px
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 930px;
}
.related_items_slider .jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 730px;
}
.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.new_items_slider .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  900px;
    height: 345px;
}
.brand_slider .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  900px;
    height: 45px;
}
.related_items_slider .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  700px;
    height: 345px;
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.new_items_slider .jcarousel-skin-tango .jcarousel-item {
    width: 210px;
    height: 310px;
}
.related_items_slider .jcarousel-skin-tango .jcarousel-item {
    width: 210px;
    height: 310px;
}
.brand_slider .jcarousel-skin-tango .jcarousel-item {
    width: 155px;
    height: 35px;
}
.labels {
    position: relative;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
 .jcarousel-skin-tango .jcarousel-prev-horizontal {
     left: 0;
     background: url(../images/slider_nav.png) no-repeat 0 0; 
 }
 .jcarousel-skin-tango .jcarousel-next-horizontal {
     right: 0;
     background: url(../images/slider_nav.png) no-repeat 100% 0; 
 }
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
     background: url(../images/slider_nav.png) no-repeat 100% 100%; 
}


.jcarousel-skin-tango .jcarousel-prev-horizontal,.jcarousel-skin-tango .jcarousel-next-horizontal {
     width: 17px; 
     height: 30px; 
     margin: 0; 
     display: block; 
     position: absolute; 
     top: 50%;
     margin-top: -25px;
     z-index: 10; 
     cursor: pointer; 
     text-indent: -9999px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
     background: url(../images/slider_nav.png) no-repeat 0 100%; 
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
